* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: overlay;
}

html {
  scroll-behavior: smooth;
}

#logo-text {
  writing-mode: vertical-rl;
}

#vertical-left {
  writing-mode: vertical-lr;
}

.door-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #eef0f1;
}

.door-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #c5c5c5, -10px -10px 20px #ffffff;
  position: relative;
  z-index: 1;
}

.door {
  border: 5px solid #e6e6e6;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: inset -10px 5px 9px #8f8f8f, inset -5px -5px 9px #ffffff,
    10px 10px 20px #c5c5c5, -10px -10px 20px #ffffff;
  transform-style: preserve-3d;
  perspective: 1438px;
  transform: rotateY(7deg) translateZ(-44px);
  position: relative;
}

.door:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -86px;
  right: 0;
  background-color: #e2e2e2;
  border: 5px solid #e6e6e6;
  border-radius: 15px;
  transform: translateZ(132px) rotateY(-68deg);
}

/* .door-handle {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 199%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(-48deg) translateZ(400px);
  background: #cbc6c6;
  box-shadow: 7px 0px 28px #bbb6b6, -5px 1px 4px #dbd6d6;
} */

.door-frame:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: 5px;
  z-index: -1;
}

@keyframes blink {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.6),
      10px -10px 23px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: none;
  }
}

.blink {
  animation: blink 1.5s ease-in-out infinite;
}
