* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: overlay;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgba(141, 238, 255, 0.25);
}

::-webkit-scrollbar-thumb {
  background: #8deeff;
  /* border-radius: 5px; */
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #8deeff;
} */

#logo-text {
  writing-mode: vertical-rl;
}

#vertical-left {
  writing-mode: vertical-lr;
}

@keyframes blink {
  0% {
    box-shadow: 0px 4px 4px rgba(57, 110, 122, 0.203);
  }
  50% {
    box-shadow: 0px 4px 4px rgba(57, 110, 122, 0.868);
  }
  100% {
    box-shadow: 0px 4px 4px rgba(57, 110, 122, 0.203);
  }
}

.blink {
  animation: blink 1.5s ease-in-out infinite;
}

.section {
  scroll-snap-align: start;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
